.display{
    display: flex;
}

.column{
    flex-direction: column;
}

.row{
    flex-direction: row;
}

.white{
    background-color: #fafafa;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.black{
    background-color: black;
}

.green{
    background-color: chartreuse;
}

section{
    width: auto;
    height: auto;

}

.container {
    max-width: 1000px;
    max-height: 1000px;
	margin: 0 auto;
    border: 1px solid #ccc;
    width: auto;
    height: auto;
}
.item {
    margin: 1px;
    width: 100px;
    height: 100px;
}

.item2 {
    width: 200px;
    height: 50px;
}

.item3{
    height: 50px;
    width: 38px;
    border: 1px solid #ccc;

}