.display{
    display: flex;
}
.stretch{
    align-items: stretch;
}

.column{
    flex-direction: column;
}
.start{
    align-items: flex-start;
}
.row{
    flex-direction: row;
}
.end{
    align-content: flex-end;
}
.row-reverse{
    flex-direction: row-reverse
}
.wrap{
    flex-wrap: wrap;
}
.white{
    background-color: #fafafa;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.black{
    background-color: black;
}

.green{
    background-color: chartreuse;
}

section{
    width: auto;
    height: auto;

}

.container {
    max-width: 1000px;
    max-height: 1000px;
	margin: 0 auto;
    border: 1px solid #ccc;
    width: auto;
    height: auto;
}
.item {
    margin: 1px;
    width: 100px;
    height: 100px;
}

.item2 {
    margin: 1px;
    width: 150px;
    height: 100px;
}

.item3{
    height: 40px;
    width: 40px;
    margin: 1px;
}

.item4{
    height: 100px;
    width: 40px;
    margin: 1px;
}

.item5 {
    width: 100px;
    height: 100px;
}

.item6{
    height: 40px;
    width: 60px;
    margin: 1px;
}

.item7{
    height: 40px;
    width: 340px;
    margin: 1px;
}

